<div class="col-md-8">
    <table class="table table-striped table-hover">
    <thead> 
        <tr> 
            <th>Type
            <th>Quantity
            <th>Pickup Availability Start
            <th>Pickup Availability End
        </tr> 
    </thead>
    <tbody> 
        {{#each foods }}
            <tr> 
                <td>{{this.type}}
                <td>{{this.quantity}}
                <td>{{this.availability_start}}
                <td>{{this.availability_end}}
            </tr> 
        {{/each }}
    </tbody>
</table>
</div>
<div class="col-md-2"></div>

