<h1>No Food Left Behind</h1>

<div class="jumbotron">
    <h1>About Us</h1>
    <p>
	<p>This is an Oregon State University CS 361 Project.</p>
	<p>Project Members:</p>
	<ul>
		<li>John</li>
		<li>Skyler</li>
		<li>Kevin</li>
		<li>Adrian</li>
		<li>Zacharia</li>
	<ul>
    </p>
    
</div>
