<h1>CS361 Project B:</h1>

<div class="jumbotron">
    <h1>No Food Left Behind</h1>
    <p>
        UPDATE: 5/22 - Bootstrap makeover + Donor forms updated. Separated into 2 forms. Added business ID to both food and business index pages for reference. Added a way for donee to view a given inventory of a specific donor/business.
                     - Need more clarification from customer as to how to handle flow.
        DISCUSSION TOPIC: 5/22 - Business table needs a unique key, currently there is no way to prevent multiples of the same business
    </p>
    
    <p><a class="btn btn-primary btn-lg" href="#" role="button">This is a button »</a></p>
</div>

<h3>
    <a href="/Donors/">Donate Food</a>
</h3>
<h3>
    <a href="/Donors/food">Find All Available Food</a>
</h3>
