<h1>CS361 Project B:</h1>

<div class="jumbotron">
    <h1>No Food Left Behind</h1>
    <h2>Welcome {{user_name}}</h2>
</div>

<h3>
    <a href="/Donors/food/create">Donate Food</a>
</h3>
<h3>
    <a href="/Donors/food">Find All Available Food</a>
</h3>

