<head>
    <meta charset='UTF-8'>
    <link href="style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>CS361 Project B: No Food Left Behind</h1>
    </div>
    <h3>
        <a href="http://52/11/133/195:3000/Donors">Donors Page</a>
    </h3>
    <h3>
        <a href="http://52/11/133/195:3000/Donees">Donees Page</a>
    </h3>
</body>