<div class="col-md-8">
    <table class="table table-striped table-hover">
    <thead> 
        <tr> 
            <th>Food Type
            <th>Quantity/Servings
            <th>Pickup Time Availability (start)
            <th>Pickup Time Availability (end)
        </tr> 
    </thead>
    <tbody> 
        {{#each food}}
            <tr> 
                <td>{{this.name}}
                <td>{{this.quantity}}
                <td>{{this.availability_start}}
                <td>{{this.availability_end}}
            </tr> 
        {{/each}}
    </tbody>
</table>
</div>